<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<h1>Рады приветствовать Вас <span th:text = "${user.getUsername()}" /></h1>
<table>
    <tbody>
    <tr>
        <td>login: </td><td th:text = "${user.getUsername()}">Имя</td>
        <td>password: </td><td th:text = "${user.getPassword()}">Имя</td>
        <td>Имя: </td><td th:text = "${user.getName()}">Имя</td>
        <td>Фамилие: </td><td th:text = "${user.getSurname()}">Имя</td>
        <td>e-mail: </td><td th:text = "${user.getEmail()}">Имя</td>
    </tr>
    </tbody>
</table>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выход"/>
</form>
</body>
</html>